<div class="notice">
    <%= flash[:notice2] %>
</div>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %><p>error</p></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h4>Title:<span class="show-content"><%= @book.title %></span></h4>
<h4>Body:<span class="show-content"><%= @book.body %></span></h4>

<%= link_to "Edit", "/books/#{@book.id}/edit" %>
<p class="select">|</p>
<%= link_to "Back", "/books", class: "select" %>